.App {
  text-align: center;
}

select{
  margin: 15px;
}
.Input{
  margin: 10px;
}
.Header{
  margin: 30px;
}
@media screen and (max-width: 500px) {
  .Input{
    width: 100px;
  }
  h1{
  margin-bottom: 30px;
  font-size: large;

  }
}
h1{
  margin: 15px 0px;
  margin-bottom: 50px;
}